@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient: linear-gradient(to top left, #6504bf, #913480, #8765c7);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-background {
  background: var(--gradient);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
